@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  max-width: 1200px;
  /* height: 517px; */
  
  margin: 0 auto;
}
.preview {
  padding: 28px 0 100px 0;
  position: relative;
  background-color: #594657;
}
.preview__life {
  font-weight: 700;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 35px;
}
.bgc_blue {
  position: absolute;
  right: 0;
  top: -155px;
  width: 50vw;
  height: 900px;
  background: rgba(146, 242, 255, 0.15);
  z-index: -1;
}
.tabcontainer {
  display: flex;
  width: 1130px;
  margin: 0 auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.tabcontent {
  width: 850px;
  position: relative;
}
.tabcontent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.documentary {
  min-width: 400px;
  min-height: 200px;
}
.tabcontent__descr {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(89, 70, 87, 0.5);
  padding: 50px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: rgb(255, 255, 255, 0.6);
  border: 1px solid #fff;
}
.tabheader {
  width: 280px;
  padding: 35px 30px;
  background-color: #938791;
}
.tabheader h3 {
  font-weight: 700;
  font-size: 16px;
}
.tabheader__items {
  margin-top: 35px;
  padding-left: 26px;
  border-left: 1px solid #000;
}
.tabheader__item {
  font-weight: 700;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s all;
}
.tabheader__item_active {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}
.promotion {
  /* height: 100vh; */
  position: relative;
  background-color: #594657;
  padding-bottom: 80px;
}
.promotion .container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}


.promotion__timer {
  width: 50%;
}
.promotion__timer .title {
  text-align: center;
  font-size: 59px;
  color: rgba(255, 255, 255, 0.61);
}
.title2{
  text-align: center;
  font-size: 59px;
  color: rgb(36, 186, 16);
  margin-top: 50px;
  margin-left: 80px;
}
.promotion__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  width: 102px;
  height: 120px;
  background: #938791;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #fff;
}
.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}